{% extends 'base.html' %}
{% block content %}
  <h1 class="title">
    {% block title %}Cats{% endblock %}
  </h1>
  <div class="content">
    {% if not current_user.is_authenticated %}
      <p>Note: only logged in users can adopt cats!</p>
    {% else %}
      <p>
        Welcome, <span class="highlight">{{ current_user.username }}</span>! Would you like to make an adoption today?
      </p>
    {% endif %}
    <div class="cat-display">
      {% for cat, owner, method in cat_info %}
        <div class="cat-container">
          <figure class="cat-display-container">
            <img src="{{ url_for('static', filename = ''+cat.image_path) }}"
                 alt="Image of {{ cat.name }}">
            <figcaption class="name">
              <a href="{{ url_for('main.cat', cat_id=cat.id) }}">{{
              cat.name }}</a>
            </figcaption>
          </figure>
          <p>Personality: {{ cat.personality }}</p>
          <p>Appearance: {{ cat.appearance }}</p>
          <p>Power level: {{ cat.power_level }}</p>
          {% if owner %}
            {% if method.value == 'legal adoption' %}
              <p>Owner: {{ owner.username }} (legal adoption)</p>
            {% else %}
              <p>
                Owner: <span class="alert">{{ owner.username }} (STOLEN from previous owner)</span>
              </p>
            {% endif %}
            {% if (current_user.is_authenticated) and (owner.id != current_user.id) %}
              <a class="alert" href="{{ url_for('main.adopt', cat_id=cat.id) }}">Steal!?</a>
            {% endif %}
          {% else %}
            {% if current_user.is_authenticated %}<a href="{{ url_for('main.adopt', cat_id=cat.id) }}"><b>Adopt</b></a>{% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
