{% extends 'base.html' %}
{% block content %}
    <span class="title">
        <h1>
            {% block title %}You Adopted {{ cat.name }}!{% endblock %}
        </h1>
    </span>
    <div class="content">
        <div class="cat">
            <img src="{{ url_for('static', filename = ''+cat.image_path) }}"
                 alt="Image of {{ cat.name }}" />
            <div class="background-wrapper">
                <p class="description">{{ description }}</p>
            </div>
        </div>
    </div>
{% endblock %}
